{% comment %}
    Parameters List:
    https://help.github.com/articles/repository-metadata-on-github-pages/
{% endcomment %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>NOVOVAREJO.COM</title>
      <script src="https://novovarejo.github.io/assets/jquery-3.3.1.slim.min.js"></script>
      <script src="https://novovarejo.github.io/assets/popper.min.js"></script>
      <script src="https://novovarejo.github.io/assets/bootstrap.min.js"></script>
      <!--link rel="stylesheet" href="https://novovarejo.github.io/assets/style.css"-->
    </head>
  <body>
      <header>
        <span>NOVOVAREJO.COM</span>
      </header>
      <div class="main">
        {{ content }}
      </div>

      <footer>
      </footer>
  </body>
</html>
